body {
    background-color: beige;
}

.p1 {
    background-color: blue;
    color: tomato;
    width: 50%;
    height: auto;
    text-align: center;
}

.p2 {
    background-color: green;
    color: white;
    width: 50%;
    height: auto;
    text-align: right;
}

.p3 {
    background-color: orange;
    color: black;
    width: 50%;
    height: auto;
    text-align: left;
}