body {
    background-color: aquamarine;
}

.p1 {
    background-color: yellow;
    color: blue;
    width: 400px;
    height: 350px;
    border: 2px solid green;
    overflow: visible;
}

.p2 {
    background-color: blue;
    color: yellow;
    width: 400px;
    height: 250px;
    border: 2px solid violet;
    overflow: hidden;
}

.p3 {
    background-color: red;
    color: white;
    width: 500px;
    height: 200px;
    border: 2px solid black;
    overflow: scroll;
}